/* Stat.css */

.stats-container {
    text-align: center;
    color: black;
  }
  .header-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
  }

  .resistances{
    border : black 1px solid;
  }
  .footer {
    width: 100%;
display: flex;
justify-content: space-between;
margin-right: 20%;
color: white;
  }
  .header-stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
      
  background-image: url("../image/fond-3.jpeg");
  background-position: center;
  background-size: cover;
  }
  .pokemon-card {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    width: 95%;
  }
  
  .pokemon-card:hover {
    transform: translateY(-5px);
  }
  
  .pokemon-image img {
    width: 400px;
    height: auto;    
  background: linear-gradient(to bottom, #e83e35 0%, yellow, 100%, #ffffff 50%, #ffffff 100%);
  border: black 2px solid;
    margin-right: 20px;
  }
  
  .pokemon-types {
    margin-top: 10px;
    color: black;
  }
  .type-image {
    border: black 1px solid;
  }
  
    .pokemon-types h4 {
      margin-bottom: 5px;
    }
  
  .pokemon-types ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .pokemon-types li {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .pokemon-types li img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  .pokemon-types li .type-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .pokemon-types li .type-name-container span {
    text-align: center;
    color: black;
    font-weight: bold;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-right: 100px;
  }

  .pokemon-stats {
    flex: 1;
    text-align: left;
  }
  
  .progress-bar {
    margin-bottom: 10px;
    width: 100%; /* Ajoutez cette ligne pour que la barre de progression occupe toute la largeur */
    color: black;
  }
  
  .progress {
    background-color: #f3f3f3;
    height: 15px;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    border: black 1px solid;
  }
  
  .progress-bar-inner {
    height: 100%;
    transition: width 0.3s ease;
    background: linear-gradient(to right, rgb(116, 209, 116) 0%,rgb(72, 179, 72) ,green, 100%, #ffffff 50%, #ffffff 100%);
  }
  
  .vulnerable-color {
    color: white;
    border-radius: 8px;
    background-color: red;
    width: 80px;
    text-align: center;
    border: black 1px solid;
  }
  
  .resistant-color {
    color: white;
    background-color: green;
    width: 80px;
    text-align: center;
    border: black 1px solid;
  }
  
  .neutral-color {
    color: white;
    background-color: gray;
    width: 80px;
    text-align: center;
    border: black 1px solid;
  }
  
  .resistances-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .resistance-category {
    flex: 1;
  margin-right: 10px; /* Ajout de marge entre les éléments */
  color: black;
  justify-content: center;
  }
  
  .resistance-category ul {
    
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
  
  .resistance-category li {
    margin-bottom: 5px;
    width: 100%;
  }
  
  .resistance-category span {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bold;
  }
  .evolution-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: black;
  }
  .ball-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ball { 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    position: relative;
    box-shadow: -20px 0 rgba(0, 0, 0, 0.1) inset;
    animation: roll 1s ease-in-out infinite;
    background: linear-gradient(
      to bottom,
      #e83e35 0%,
      #e83e35 50.5%,
      #ffffff 50.51%,
      #ffffff 100%
    );
  }
  
  .ball:after {
    content: "";
    position: absolute;
    top: calc(25px - 3px);
    left: 0;
    width: 50px;
    height: 6px;
    background: #3f3f3f;
  }
  
  .ball:before {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    width: 13px;
    height: 13px;
    border: solid 6px #3f3f3f;
    border-radius: 50%;
    background: white;
    z-index: 1;
    box-shadow: 0 0 15px -2px #c62828 inset;
    animation: button 3s ease infinite;
  }
  
  @keyframes roll {
    from {
      transform: rotate(0);
    }
    90%,
    to {
      transform: rotate(720deg);
    }
  }
  
  @keyframes button {
    from,
    50%,
    to {
      box-shadow: 0 0 15px -2px #c62828 inset;
    }
  
    25%,
    75% {
      box-shadow: 0 0 10px -2px #1300ea inset;
    }
  }
  .button-place {
    display: flex;
    justify-content:right;
    align-items: center;
    width: 50px;
    margin-right: 10px;
  }
  button>* {
    width: 50px;
    height: 50px;
  } 

  .image-evolutions-container {
    border: black 1cap solid;
    height: 100%;
    width: 200px;
    margin-left: 2%;
    background: linear-gradient(to bottom,black , gray,  black , gray, black,gray);

  }

  .image-evolutions-container img {
    width: 80%;

  }
  .down-arrow>* {
    height: 50px;
    width: 50px;
    color: white;
  }

  .button-addpokemon{
    width: 100px;
    height: 100px;
    position: absolute;
  }
  