.card-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, 1fr); /* Quatre colonnes égales */
    grid-gap: 20px;
    margin-bottom: 20px;
  }
  
  .card {
    background-color: #fff;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    border: white 2px solid;
    background: linear-gradient(to bottom, #e83e35 0%, yellow, 52%, #ffffff 50%, #ffffff 100%);
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-details {
    color: black;
  }
  
  .card-details span {
    display: block;
    margin-bottom: 5px;
  }
  
  .card-details span:first-child {
    font-weight: bold;
  }
  
  .card-details label {
    color: blue;
    cursor: pointer;
  }
  
  .card-details label:hover {
    text-decoration: underline;
  }